{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}  <li><a href="{{ path('ticketing_homepage') }}"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li><li class = 'active'><a href="{{ path('ticketing_add') }}"><span class="glyphicon glyphicon-plus"></span> Faire une demande</a></li><li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>{% endblock %}



{% block body %}

    <h3>Formulaire de demande d'assistance</h3>

<div class="well">

    {{ form(form) }}

</div>
    <br><br> <a href="{{ path('ticketing_user') }}"> <button class =" btn btn-danger">Retour</button></a>

{% endblock %}