{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}  <ul class="nav navbar-nav navbar-right"><li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li></ul>{% endblock %}


{% block body %}
    <h2> Bonjour {{ app.user.username }}</h2>
    <ul>
        <h3>Demandes à attribuer</h3>

        <div class="container">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Objet</th>
                    <th>Description</th>
                    <th>Attribution</th>
                </tr>
                {% for demande in listDemandes %}
                </thead>
                <tbody>
                <a>
                    <td>{{ demande.objet }}</td>
                    <td>{{ demande.description }}</td>
                    <td>{{ demande.etat }}</td>
                    <td> <a href="{{ path('ticketing_attribute', {'page': demande.id}) }}"> Attribuer la demande

                        </a></td>
                    <td> <a href="{{ path('demande_view', {'page': demande.id}) }}"> Voir la Demande

                        </a></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>



    </ul>
    <a href="{{ path('demandes_view')}}"> Voir Toutes les demandes</a>
{% endblock %}