{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}  {% if app.user.username == "Administrateur" %} <li ><a href="{{ path('ticketing_admin') }}"><span class="glyphicon glyphicon-bullhorn"></span> Interface Administrateur</a></li>
    <li><a href="{{ path('demandes_view') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Toutes les demandes</a></li>
    <li><a href="{{ path('ticketing_tech') }}"><span class="glyphicon glyphicon-wrench"></span> Interface Technicien</a></li> <li><a href="{{ path('ticketing_inscription_tech') }}"><span class="glyphicon glyphicon-plus"></span> Inscrire un nouveau technicien</a></li> <li><a href="{{ path('ticketing_profiles') }}"><span class="glyphicon glyphicon-user"></span> Gérer les Utilisateurs</a></li></ul>{% else %}  <li><a href="{{ path('ticketing_tech') }}"><span class="glyphicon glyphicon-wrench"></span> Interface Technicien</a></li></ul>{% endif %}
    <ul class="nav navbar-nav navbar-right"><button class="btn btn-success navbar-btn" style = "margin-right: 10px;" data-toggle="modal" data-target="#myModal">   Connecté sur le portail</button></ul>
{% endblock %}
{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Votre Profil :</h4>
                </div>
                <div class="modal-body">
                    <p>Nom : {{ app.user.nom }}</p>
                    <p>Prénom : {{ app.user.prenom }}</p>
                    <p>Nom d'Utilisateur : {{ app.user.username }}</p>
                    <p>Email : {{ app.user.email }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer la boite de Dialogue</button>
                    <a href="{{ path('logout') }}"><button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-log-in"></span> Deconnexion</button></a>
                </div>
            </div>

        </div>
    </div>
    <!---fin -->
    {% for ticket in listTickets %}


    <div class="container">
        <div class ="row">
        </div>

            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-6">
                <div class="db-wrapper">

                    <div class="db-pricing-seven">
                        <ul>
                            <li class="price">

                                <h3>TIcket de la demande numéros {{ ticket.demande.id }}</h3>

                            </li>

                            <li class = 'textein'><strong>Objet : </strong>  {{ ticket.demande.objet }}</li>
                            <li class = 'textein'><strong>Description : </strong> {{ ticket.demande.description }}</li>
                            <li class = 'textein'><strong>Fait par : </strong>{{ ticket.demande.utilisateur.username }}</li>
                            <li class = 'textein'><strong>Date : </strong>{{  ticket.demande.date|date('Y-m-d') }}</li>
                            {% if ticket.urgence == 1 %} <li class = 'textein'><strong>Urgence : </strong>  Demande Urgente</li>  {% endif %}
                            <li class = 'textein'>{{ form(formticketcpt) }} </li>

                    </div>
                </div>
                <a href="{{ path('ticketing_tech') }}"> <button class =" btn btn-danger"><span class="glyphicon glyphicon-arrow-left"></span> Retour</button></a>
            </div>

        <div class = col-lg-6>
            <br><br><br>{% if ticket.demande.piecejointe != 'ok' %}<h4>Piece Jointe :</h4><a href="{{ asset(ticket.demande.piecejointe) }}"><img class = "pcj" src="{{ asset(ticket.demande.piecejointe ) }}" /></a>{% endif %}
        </div>
        {% endfor %}
{% endblock %}