{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}

{% if app.user.roles.0 =='ROLE_ADMIN'  %}
        <li><a href="{{ path('ticketing_admin') }}"><span class="glyphicon glyphicon-bullhorn"></span> Interface Administrateur</a></li>
       <li><a href="{{ path('demandes_view') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Toutes les demandes</a></li>

{% endif %}<li class ="active"><a href="{{ path('ticketing_tech') }}"><span class="glyphicon glyphicon-wrench"></span> Interface Technicien</a></li>{% if app.user.username =='Administrateur'  %}
        <li><a href="{{ path('ticketing_inscription_tech') }}"><span class="glyphicon glyphicon-plus"></span> Inscrire un nouveau technicien</a></li>
            <li><a href="{{ path('ticketing_profiles') }}"><span class="glyphicon glyphicon-user"></span> Gérer les Utilisateurs</a></li></ul>

    </ul>
        {% endif %}
    </ul><ul class="nav navbar-nav navbar-right"><button class="btn btn-success navbar-btn" style = "margin-right: 10px;" data-toggle="modal" data-target="#myModal">   Connecté sur le portail</button></ul>
    {% endblock %}
{% block body %}
    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Votre Profil :</h4>
                </div>
                <div class="modal-body">
                    <p>Nom : {{ app.user.nom }}</p>
                    <p>Prénom : {{ app.user.prenom }}</p>
                    <p>Nom d'Utilisateur : {{ app.user.username }}</p>
                    <p>Email : {{ app.user.email }}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer la boite de Dialogue</button>
                    <a href="{{ path('logout') }}"><button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-log-in"></span> Deconnexion</button></a>
                </div>
            </div>

        </div>
    </div>
    <!---fin -->
    <h2> Bonjour {{ app.user.username }}</h2>
    <ul>
        <h3>Demandes à résoudre</h3>

        <div class="container">
            <div class = "well coloredwell">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class = 'col-lg-3'>Objet</th>
                    <th class = 'col-lg-3'>Description</th>
                    <th class = 'col-lg-3'>Etat</th>
                    <th class = 'col-lg-3'>Fait par</th>
                    <th class = 'col-lg-3'>Date</th>
                </tr>
                {% for ticket in listTickets %}
                </thead>
                <tbody>
                <a>
                    <td>{{ ticket.demande.objet }}</td>
                    <td>{{ ticket.demande.description }}</td>
                    {% if ticket.demande.etat == 'resolue'  %}
                        <td><img  style = 'width: 20px;' src={{ asset('images/button-green.png') }} > Demande résolue</td>
                    {% endif%}
                        {% if ticket.demande.etat == 'attribue'  %}
                    <td><img  style = 'width: 20px;' src={{ asset('images/button-orange.png') }} > Demande attribuée</td>
                        {% endif %}
                    <td>{{ ticket.demande.utilisateur.nom }}  {{ ticket.demande.utilisateur.prenom }} </td>
                    <td>{{  ticket.demande.date|date('Y-m-d') }}</td>
                    <td> <a href="{{ path('ticketing_resolve', {'page': ticket.id}) }}"> Résoudre</a>

                        </a></td>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        </div>



        </ul>
             <ul>   </a>
                 <h3>Demandes Résolues</h3>

                 <div class="container">
                    <div class = "well">
                     <table class="table table-striped">
                         <thead>
                         <tr>
                             <th class = 'col-lg-3'>Objet</th>
                             <th class = 'col-lg-3'>Description</th>
                             <th class = 'col-lg-3'>Etat</th>
                             <th class = 'col-lg-3'>Fait par</th>
                             <th class = 'col-lg-3'>Date</th>
                         </tr>
                         {% for ticket in listTicketsres %}
                         </thead>
                         <tbody>
                         <a>
                             <td>{{ ticket.demande.objet }}</td>
                             <td>{{ ticket.demande.description }}</td>
                             {% if ticket.demande.etat == 'resolue'  %}
                                 <td><img  style = 'width: 20px;' src={{ asset('images/button-green.png') }} > Demande résolue</td>
                             {% endif%}
                             {% if ticket.demande.etat == 'attribue'  %}
                                 <td><img  style = 'width: 20px;' src={{ asset('images/button-orange.png') }} > Demande attribuée</td>
                             {% endif %}
                             <td>{{ ticket.demande.utilisateur.nom }} {{ ticket.demande.utilisateur.prenom }} </td>
                             <td>{{  ticket.demande.date|date('Y-m-d') }}</td>
                             <td> <a href="{{ path('ticketing_resolve', {'page': ticket.id}) }}"> Voir la résolution

                                 </a></td>
                             {% endfor %}
                         </tbody>
                     </table>
                 </div>
{% endblock %}