{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}  <li class = "active"><a href="{{ path('ticketing_homepage') }}"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li><li><a href="{{ path('ticketing_add') }}"><span class="glyphicon glyphicon-plus"></span> Faire une demande</a></li>
    <li><a href="{{ path('logout') }}"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>{% endblock %}
{% block body %}

    <h2> Tableau de Bord de {{ app.user.nom }} {{ app.user.prenom }}</h2>

    <ul>
        <h3>Demandes en cours</h3>

            <div class="container">
                <div class="well">
                <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Objet</th>
                        <th>Description</th>
                        <th>Etat</th>
                        <th>Date</th>
                    </tr>
                    {% for demande in listDemandes %}
                    </thead>
                    <tbody>
                    <a>
                        <td>{{ demande.objet }}</td>
                        <td>{{ demande.description }}</td>
                        {% if demande.etat == 'soumis'  %}
                        <td>Demande soumise</td>
                        {% endif %}
                        {% if demande.etat == 'attribue'  %}
                            <td>Demande attribué à un technicien</td>
                        {% endif %}
                        <td>{{  demande.date|date('Y-m-d') }}</td>
                        <td> <a href="{{ path('demande_view', {'page': demande.id}) }}"> Voir la Demande

                        </td>
                        {% endfor %}
                    </a>
                    </tbody>
                </table>
            </div>


    <h3>Demandes Resolues</h3>

                <div class="well">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Objet</th>
                <th>Description</th>
                <th>Etat</th>
                <th>Date</th>
            </tr>
            {% for demande in listDemandesResolues %}
            </thead>
            <tbody>
            <a>
                <td>{{ demande.objet }}</td>
                <td>{{ demande.description }}</td>
                {% if demande.etat == 'resolue'  %}
                    <td>Demande Résolue</td>
                {% endif %}
                <td>{{  demande.date|date('Y-m-d') }}</td>
                <td> <a href="{{ path('demande_view', {'page': demande.id}) }}"> Voir la Resolution

                    </a></td>
                {% endfor %}
            </tbody>
        </table>
    </div>
    </div>



    </ul>
{% endblock %}

