{% extends "TicketingBundle:Ticketing:layout.html.twig" %}
{% block logout %}  {% if app.user.username != 'Administrateur' %}<li><a href="{{ path('ticketing_homepage') }}"><span class="glyphicon glyphicon-home"></span> Acceuil</a></li><li><a href="{{ path('ticketing_add') }}"><span class="glyphicon glyphicon-plus"></span> Faire une demande</a> {% elseif app.user.username == 'Administrateur' %}<li ><a href="{{ path('ticketing_admin') }}"><span class="glyphicon glyphicon-bullhorn"></span> Interface Administrateur</a></li>
<li><a href="{{ path('demandes_view') }}"><span class="glyphicon glyphicon-menu-hamburger"></span> Toutes les demandes</a></li>
<li><a href="{{ path('ticketing_tech') }}"><span class="glyphicon glyphicon-wrench"></span> Interface Technicien</a></li> <li><a href="{{ path('ticketing_inscription_tech') }}"><span class="glyphicon glyphicon-plus"></span> Inscrire un nouveau technicien</a></li><li><a href="{{ path('ticketing_profiles') }}"><span class="glyphicon glyphicon-user"></span> Gérer les Utilisateurs</a></li>{% endif %} </ul><ul class="nav navbar-nav navbar-right"><button class="btn btn-success navbar-btn" style = "margin-right: 10px;" data-toggle="modal" data-target="#myModal">   Connecté sur le portail</button></ul>{% endblock %}
{% block body %}
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Votre Profil :</h4>
            </div>
            <div class="modal-body">
                <p>Nom : {{ app.user.nom }}</p>
                <p>Prénom : {{ app.user.prenom }}</p>
                <p>Nom d'Utilisateur : {{ app.user.username }}</p>
                <p>Email : {{ app.user.email }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fermer la boite de Dialogue</button>
                <a href="{{ path('logout') }}"><button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-log-in"></span> Deconnexion</button></a>
            </div>
        </div>

    </div>
</div>
<!---fin -->
    {% for tickets in ticket %}
        <h3> Detail de la demande </h3><br>
        <div class = "row">
            <div class = "col-lg-6">
        <h4>Objet :</h4> {{ tickets.demande.objet }}
        <h4>Description :</h4> {{ tickets.demande.description }}



            <h4>Date : </h4>{{  tickets.demande.date|date('Y-m-d') }}</h4>


    <h4>Etat : </h4>
    {% if tickets.demande.etat  == 'soumis'%}
    <div class="progress">
        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
             aria-valuemin="0" aria-valuemax="100" style="width:30%">
            30% Demande Soumise
            {% endif %}
            {% if tickets.demande.etat  == 'attribue'%}
            <div class="progress">

                <div class="progress-bar"  role="progressbar" aria-valuenow="60"
                     aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #ffffba; color:black;">
                    60% Demande Attribué à un technicien
                    {% endif %}
                    {% if tickets.demande.etat  == 'resolue'%}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                             aria-valuemin="0" aria-valuemax="100" style="width:100%">
                            100% Demande Résolu
                            {% endif %}


        </div>
    </div>
                    <br><br><a href="{{ path('ticketing_user') }}"><button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-arrow-left"></span> Retour</button></a>
            </div>

                    <div class = " col-lg-6">

                    {% if tickets.compterendu %}
                        <div class="well">
                        <div class = 'text-center'><h2 style ='color:green;'> Probleme Resolu</h2>
                         <h3>Compte Rendu : </h3>
                            <div style = "font-size:20px;">{{ tickets.compterendu }}</div>
                    {% endif %}

    {% endfor %}{% for demande in Listdem %}
                            {% if demande.etat == 'soumis' %}
                            <h3> Detail de la demande </h3><br>
                            <div class = "row">
                                <div class = "col-lg-6">
                                    <h4>Objet :</h4> {{ demande.objet }}
                                    <h4>Description :</h4> {{ demande.description }}



                                    <h4>Date : </h4>{{  demande.date|date('Y-m-d') }}</h4>


                                    <h4>Etat : </h4>
                                    {% if demande.etat  == 'soumis'%}
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="30"
                                             aria-valuemin="0" aria-valuemax="100" style="width:30%">
                                            30% Demande Soumise
                                            {% endif %}
                                            {% if demande.etat  == 'attribue'%}
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60"
                                                     aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                                    60% Demande Attribué à un technicien
                                                    {% endif %}
                                                    {% if demande.etat  == 'resolue'%}
                                                    <div class="progress">
                                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60"
                                                             aria-valuemin="0" aria-valuemax="100" style="width:60%; background-color: #ffffba; color:black;">
                                                            100% Demande Résolu
                                                            {% endif %}


                                                        </div>
                                                    </div>
                                                    <br><br> <a href="{{ path('ticketing_user') }}"><button type="button" class="btn btn-danger" ><span class="glyphicon glyphicon-arrow-left"></span> Retour</button></a>
                                                </div>

                                                <div class = " col-lg-6">
                                                        {% endif %}

                                                            {% endfor %}</div></div>

                        {% endblock %}
